.contacttitle {
  font-size: 50px;
  font-family: fantasy;
  font-weight: bold;
}

.scheduletop {
 text-decoration: underline;
 padding-top: 15px;
 font-size: 20px;
}

.schedule {
  display: flex;
  justify-content: space-between;
}

.section1 {
  display: flex;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.section {
  display: flex;
  justify-content: center;
  background-image: url('./images/frontdesk1.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 600px;
  width: 100%;
}

.mobilesection {
  display: flex;
  justify-content: center;
  background-image: url('./images/frontdesk1.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 300px;
  width: 100%;
}

a:link {
  text-decoration: underline;
}
