.navbar {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.body2 {
  display: flex;
  justify-content: center;
  background-image: url('./images/space2.1.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  height: 600px;
  width: 100%;
}

.welcometext {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  text-align: center;
  background-color: black;
  color: white;
  font-family: fantasy;
}

.bodyrandom {
  display: flex;
  justify-content: center;
  background-image: url('./images/space1.1.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  height: 500px;
  width: 100%;
}


.footer {
  background-size: cover;
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer1 {
  display: flex;
  flex-direction: row;
}

.footnote2 {
  display: flex;
  font-size: 13px;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.footnote3 {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}

.body3 {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.body4 {
  display: flex;
  font-size: 25px;
  flex-flow: column;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  color: white;
}

.servicebut {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.salonLogo {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
}

.body4 {
  text-align: center;
}

.mobilemenu {
  display: inline;
}

.mobilemenu1 {
  display: flex;
  justify-content: flex-start;
  background-color: black;
  padding-bottom: 3px;
}

.mobilemenu2 {
  display: flex;
  justify-content: center;
}

.mobilemenuPic {
  height: 30px;
  width: 50px;
}

.mobilebody2 {
  display: flex;
  justify-content: center;
  background-image: url('./images/space2.1.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 300px;
  width: 100%;
}

.mobilebodyrandom {
  display: flex;
  justify-content: center;
  background-image: url('./images/space1.1.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 300px;
  width: 100%;
}

.mobileheader {
  text-align: center;
}
