.bios {
  width: 100%;
}

.textbox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.buttonbox {
  padding-left: 10px;
}

.styliststitle {
  text-align: center;
}
